@import "~react-toolbox/lib/colors";

$color-primary: $palette-light-blue-500;
$color-primary-dark: $palette-light-blue-700;

.smallProgress {
    width: 20px !important;
    height: 20px !important;
}